@using GameStore.Web.Helpers
@model GameStore.Web.Models.Game.GamesFilterRequestModel

@{
    var publishedAtSelectList = ViewData[ViewKeys.Games.PublishedAt] as SelectList;
    var orderBySelectList = ViewData[ViewKeys.Games.OrderBy] as SelectList;
}

<form id="FilterForm" method="get" asp-controller="Games" asp-action="GetAll">
    <input type="hidden" asp-for="CurrentPage">
    <input type="hidden" asp-for="PageSize">
    <div>
        <h5>Name</h5>
        <input type="text" class="form-control" asp-for="@Model.Name" placeholder="Game name">
    </div>

    <hr>

    <div>
        <h5>Price</h5>
        <div class="input-group">
            <input type="number" class="form-control" asp-for="@Model.MinPrice" placeholder="Minimal price">
            <span class="input-group-text"> - </span>
            <input type="number" class="form-control" asp-for="@Model.MaxPrice" placeholder="Maximal price">

        </div>
        <span class="field-validation-valid text-danger" asp-validation-for="MinPrice"></span>
    </div>

    <hr>

    <div>
        <h5>Genres</h5>
        <table class="table">
            @foreach (var genre in Model.Genres)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="@nameof(Model.SelectedGenres)" checked="@genre.Selected" value="@genre.Value"/>
                    <label class="form-check-label" asp-for="SelectedGenres">@genre.Text</label>
                </div>
            }
        </table>
    </div>

    <hr>

    <div>
        <h5>Platforms</h5>
        <table class="table">
            @foreach (var platform in Model.Platforms)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="@nameof(Model.SelectedPlatforms)" checked="@platform.Selected" value="@platform.Value"/>
                    <label class="form-check-label" asp-for="SelectedPlatforms">@platform.Text</label>
                </div>
            }
        </table>
    </div>

    <hr>

    <div>
        <h5>Publishers</h5>
        <div class="overflow-scroll" style="height: 250px">

            @foreach (var publisher in Model.Publishers)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="@nameof(Model.SelectedPublishers)" checked="@publisher.Selected" value="@publisher.Value"/>
                    <label class="form-check-label" asp-for="SelectedPublishers">@publisher.Text</label>
                </div>
            }
        </div>
    </div>

    <hr>

    <div>
        @foreach (var item in publishedAtSelectList)
        {
            <div>
                @if (item.Value != ((int)Model.PublishedAtByState).ToString())
                {
                    <input id="@item.Value" type="radio" asp-for="@Model.PublishedAtByState" value="@item.Value" class="form-check-input me-1">
                }
                else
                {
                    <input id="@item.Value" type="radio" asp-for="@Model.PublishedAtByState" value="@item.Value" class="form-check-input me-1" checked="checked">
                }
                <label for="@item.Value">@item.Text</label>
            </div>
        }
    </div>

    <hr>

    <div class="input-group mb-3">
        @Html.DropDownList(nameof(Model.OrderByState), orderBySelectList, new { @class = "form-control" })
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Filter" onclick="resetPage()">
    </div>

</form>