@using GameStore.Web.Extensions
@using GameStore.Web.Infrastructure.Authorization
@using GameStore.Core.Models.ServiceModels.Enums
@model GameStore.Web.ViewModels.Publisher.PublisherViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<div class="mt-5">

    <h2>@Model.Name</h2>

    <hr/>

    <div class="row">

        <div class="col-6">

            <div class="mb-3">
                <div>
                    @Html.LabelFor(model => model.Name, "Name:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.Name)
                </div>

                <div>
                    @Html.LabelFor(model => model.HomePage, "Home page:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.HomePage)
                </div>

                <div>
                    @Html.LabelFor(model => model.Description, "Description:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.Description)
                </div>

                <div>
                    @Html.LabelFor(model => model.Address, "Address:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.Address)
                </div>

                <div>
                    @Html.LabelFor(model => model.City, "City:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.City)
                </div>

                <div>
                    @Html.LabelFor(model => model.ContactName, "Contact name:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.ContactName)
                </div>

                <div>
                    @Html.LabelFor(model => model.ContactTitle, "Contact title:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.ContactTitle)
                </div>

                <div>
                    @Html.LabelFor(model => model.Phone, "Phone:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.Phone)
                </div>

                <div>
                    @Html.LabelFor(model => model.Fax, "Fax:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.Fax)
                </div>

                <div>
                    @Html.LabelFor(model => model.Country, "Country:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.Country)
                </div>

                <div>
                    @Html.LabelFor(model => model.PostalCode, "Postal code:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.PostalCode)
                </div>

                <div>
                    @Html.LabelFor(model => model.Region, "Region:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.Region)
                </div>
            </div>

        </div>

        <div class="col-6">
            @if (Model.Database != Database.Mongo)
            {
                @if (User.HasPermissionOfLevel(ApiRoles.Publisher, Model.Name))
                {
                    <div class="mb-3">
                        @Html.ActionLink("Edit", "Update", new { companyName = Model.Name }, new { @class = "btn btn-info" })
                    </div>
                }
                @if (User.HasPermissionOfLevel(ApiRoles.Manager))
                {
                    <div>
                        <form method="post" asp-controller="Publisher" asp-action="Delete" asp-route-companyName="@Model.Name">
                            <button type="submit" class="btn btn-warning">Delete</button>
                        </form>
                    </div>
                }
            }
        </div>

    </div>

</div>