@model IEnumerable<GameStore.Web.ViewModels.Order.OrderListViewModel>

@{
    ViewBag.Title = "Orders";
    Layout = "_Layout";
}

<h2 class="mt-3">Orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th> 
        
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        
            <td>
                @Html.ActionLink("Checkout", "GetWithDetails", new { id = item.Id })
            </td>
        </tr>
    }

</table>