@model GameStore.Web.ViewModels.Genres.GenreViewModel

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

<h2>Details</h2>

<div class="row">

    <div class="col-6">

        <div class="mb-3">
            <div>
                @Html.LabelFor(model => model.Name, "Name:", new { @class = "form-label fw-bolder" })
                @Html.DisplayFor(model => model.Name)
            </div>
            
            @if (Model.Parent is not null)
            {
                <div>
                    @Html.Label("ParentName", "Parent:", new { @class = "form-label fw-bolder" })
                    @Html.ActionLink(Model.Parent.Name, "GetWithDetails", new { id = Model.Parent.Id })
                </div>
            }

            <div>
                <label class="form-label fw-bolder">Sub genres:</label>
                <table class="table">
                    @foreach (var item in Model.SubGenres)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td>
                                @Html.ActionLink("Checkout", "GetWithDetails", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="mb-3">
            @Html.ActionLink("Edit", "Update", new { id = Model.Id }, new { @class = "btn btn-info" })
        </div>
        <div>
            <form method="post" asp-controller="Genres" asp-action="Delete">
                <input type="hidden" name="id" id="id" value="@Model.Id"/>
                <button type="submit" class="btn btn-warning">Delete</button>
            </form>
        </div>
    </div>
</div>