@model GameStore.Web.ViewModels.Basket.BasketViewModel

@{
    ViewBag.Title = "Basket";
    Layout = "_Layout";
}

<h2 class="mt-5">Basket</h2>

@if (Model.Items.Count == 0)
{
    <p>
        You have no items in basket
    </p>
}
else
{
    foreach (var item in Model.Items)
    {
        <div class="mb-3">
            <div>
                @Html.LabelFor(model => item.Game.Id, "Game Id:", new { @class = "form-label fw-bolder" })
                @Html.DisplayFor(model => item.Game.Id)
            </div>
            <div>
                @Html.LabelFor(model => item.Game.Name, "Game Name:", new { @class = "form-label fw-bolder" })
                @Html.DisplayFor(model => item.Game.Name)
            </div>
            <div>
                @Html.LabelFor(model => item.Quantity, "Quantity:", new { @class = "form-label fw-bolder" })
                @Html.DisplayFor(model => item.Quantity)
            </div>
            <div>
                @Html.ActionLink("Checkout", "GetWithDetails", "Games", new { gameKey = item.Game.Key }, new { @class = "btn btn-secondary" })
            </div>
        </div>
    }
}